@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-100 text-slate-600;
    }

    .sidebar {
        height: calc(100vh - 10rem);
    }

    .content {
        height: calc(100vh - 5rem);
    }

    .chart {
        height: calc(100vh - 17.5rem);
    }
}

@layer components {
    .link {
        @apply text-cyan-500 hover:text-cyan-600;
    }

    .btn-red {
        @apply bg-red-500 text-white py-2 px-6 rounded-sm hover:bg-red-600;
    }
}
